<form class="signup-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter your email" type="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Full name" type="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>ID Number</mat-label>
      <input matInput placeholder="ID number" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Create Password</mat-label>
      <input matInput placeholder="Create password" type="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm password" type="password">
    </mat-form-field>
    <button mat-raised-button color="primary">Signup</button>
  </form>
  